nav {
    background-color: gray;
    font-size: x-large;
}
.logo {
    border-radius: 50%;
    width: 100px;
    border: 2px solid black;
    position: relative;
    left: 4%;
}
.nav-links {
    display: inline;
    position: relative;
    left: 4%;
    top: -40px;
}
li {
    display: inline;
}

.green-border {
    border: 20px dotted green;
    width: 1000px;
    height: 500px;
    margin: 10% auto;
    position:relative;
}

.spacecat, .spacedog {
    position:absolute;
}
.spacecat {
    top: -140px;
    left: 200px;
}
.spacedog {
    top: 520px;
    left: 600px;
}
