nav {
    background-color: gray;
    font-size: x-large;
}
.logo {
    border-radius: 50%;
    width: 100px;
    border: 2px solid black;
    position: relative;
    left: 4%;
}
.nav-links {
    display: inline;
    position: relative;
    left: 4%;
    top: -40px;
}
li {
    display: inline;
}

.green-border {
    border: 20px dotted green;
    height: 50vh;
    margin: 10% auto;
    position:relative;
}

.spacecat, .spacedog {
    position:absolute;
}
.spacecat {
    top: -20%;
    left: 50%;
}
.spacedog {
    top: 98%;
    left: 60%;
}
