main {text-align: center;}

.grid3 {
    display: grid;
    background-color: rgb(228, 197, 159);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid3__dog {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid3 img {
    width: 100%;
    height: 100%;
}